.Container {
    height: 75%;
    z-index: 8;
    width: 30%;
    border-radius: 8px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
}

.Container h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--SecondaryClr);
}

.dateAmtContainer {
    background-color: var(--Background);
    color: var(--Color);
    padding: 10px 15px;
    font-weight: bold;
    margin: 0.5rem 0rem;
}

.PlaceContainer {
    padding: 10px 15px;
    font-weight: bold;
    color: var(--SecondaryClr);
}

.descContainer {
    font-weight: 600;
    height: 50%;
    margin: 0.5rem 0rem;
    padding: 10px 15px;
    color: var(--SecondaryClr);
}

.btns,
.PlaceContainer,
.dateAmtContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.EditBtn {
    background-color: rgb(118, 185, 163);
}

.DeleteBtn {
    background-color: rgb(255, 157, 157);
}

.CancelBtn {
    background-color: rgb(91, 119, 175);
}

.EditBtn,
.DeleteBtn,
.CancelBtn {
    border: none;
    padding: 7px 10px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    margin: 0px 10px;
    transition: ease-in-out 0.3s;
}

.EditBtn:hover {
    background-color: rgb(0, 146, 97);
    box-shadow: 0px 0px 4px 1px rgb(47, 47, 47);
}

.DeleteBtn:hover {
    background-color: rgb(252, 48, 48);
    box-shadow: 0px 0px 4px 1px rgb(47, 47, 47);
    ;
}

.CancelBtn:hover {
    background-color: rgb(1, 58, 173);
    box-shadow: 0px 0px 2px 1px rgb(47, 47, 47);
    ;
}