.mainContainer {
    text-align: center;
    width: 100%;
    margin: 0rem;
    padding-top: 2rem;
    color: aliceblue;
}

.mainContainer h1 {
    margin: 0rem;
    font-size: 3rem;
    color: var( --SecondaryClr);
}

.ProfileMessage {
    text-align: center;
    background-color: var(--Background);
    position: absolute;
    top: 4.3rem;
    padding: 0.5rem;
    right: 0.8rem;
    border-radius: 8px;
    width: 22%;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
}

.ProfileMessage p {
    margin: 0.5rem;
    font-size: 1rem;
    font-style: italic;
}

.ProfileMessage button {
    width: 8rem;
    font-style: italic;
    border: 0px;
    font-size: 1rem;
    background-color: transparent;
    color: rgb(0, 90, 199);
}

.ProfileMessage button:hover {
    cursor: pointer;
}