.Container {
    display: grid;
    grid-template-columns: 25% 40% 34%;
    grid-template-rows: auto 33rem;
    gap: 10px;
    padding: 10px;
    height: 100%;
    justify-content: center;
}

.dashboard {
    grid-column: 1/4;
    height: 100%;
    /* border: 2px solid green; */

}

.table {
    /* border: 2px solid blue; */


}

.chart {
    /* border: 2px solid yellow; */

}

.side_section {
    display: grid;
    align-items: self-end;
    gap: 10px;
    grid-template-columns: 49% 49%;
    grid-template-rows: 8.5rem 18.5rem 4.5rem;
}