.NavContainer{
    display: flex;
    flex-direction:row;
    align-items: center;
    border: 2px solid;
    background-color: rgb(245, 250, 255);
}
/* .HeadContaner{
} */
.HeadContaner h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 102, 255);
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 1rem;
}
.NavTab{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 1rem;
}
.NavTab span{
    margin: 0.5rem;
}