.NavContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:sticky;
    top: 0px;
    justify-content: space-between;
    background-color: var(--Background);
    z-index: 5;
    margin: 0px;
    height: 100%;
}

.HeadContaner h1 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--Color);
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0.5rem;
}

.NavTab {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem;
}

.NavTab a {
    color: var(--Color);
    text-decoration: none;
    margin: 0.5rem 1.5rem;
}

.LogInOutBsns {
    width: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}

.LogInOutBsns .LogOutBtn {
    padding:0.5rem;
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    border: 0px;
    border-radius: 4px;
    background-color: rgb(243, 137, 137);
}

.PremiumBtn {
    color: goldenrod;
    font-size: large;
    font-weight: bold;
    border: 0px;
    background-color: rgba(26, 24, 22);
    padding: 10px;
    border-radius: 23px;
    transition: ease-in-out 0.2s;
}

.PremiumBtn:hover {
    cursor: pointer;
    background-color: rgb(74, 74, 74);
    border: 2px solid gold;
}

.LogInOutBsns .LogInBtn {
    padding:0.5rem;
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    border: 0px;
    border-radius: 4px;
    background-color: rgb(114, 182, 114);
}

.LogInOutBsns .LogInBtn:hover {
    box-shadow: 0px 0px 7px 2px rgb(30, 55, 30);
    cursor: pointer;
    transform: translate(2px, 2px);
}

.LogInOutBsns .LogOutBtn:hover {
    box-shadow: 0px 0px 5px 2px rgb(77, 28, 28);
    background-color: rgb(204, 15, 15);
    cursor: pointer;
}

.Profile {
    display: contents;

}
.ToggleBtn{
    background-color: transparent;
    border: 0px;
    padding: 0px;
}
.Profile img {
    border-radius: 50%;
    background-color: aliceblue;
    width: 40px;
    height: 40px;
}
.ToggleBtn img {
    border-radius: 50%;
    background-color: aliceblue;
    border: 1px solid white;
    width: 30px;
    height: 30px;
}
.ToggleBtn img:hover{
    cursor: pointer;
}