.BtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.BtnContainer button {
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    font-size: medium;
    color: aliceblue;
    background-color: var(--Background);
    ;
    border: 0px;
    cursor: pointer;
}

.BtnContainer button:hover {
    box-shadow: 0px 0px 2px 1px black;
}

.BtnContainer button:focus {
    /* background-color: rgb(75, 107, 161); */
    background-color: white;
    border: 2px solid var(--Background);
    color: rgb(0, 0, 0);
}