.FormContainer {
    width: 100%;
    padding: 0.5rem;
}

.AmountContainer,
.DecrpContainer,
.DateContainer,
.PlaceContainer,
.category,
.date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0.5rem 0rem;
}

.AmountContainer input,
.DecrpContainer textarea,
.PlaceContainer input, 
.date input,
.category select {
    width: 100%;
    margin-top: 0.3rem;
    padding: 0.3rem;
    border-radius: 4px;
    transition: 0.8s;
    border: 1px solid var(--SecondaryClr);
}

.CategoryAndDate,.Btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date,
.category {
    width: 45%;
}

.Btns {
    margin-top: 5rem;
}

.category select:focus,
.AmountContainer input:focus,
.DecrpContainer textarea:focus,
.PlaceContainer input:focus,
.date input:focus {
    box-shadow: 0px 0px 5px 1px rgb(43, 77, 151);
    outline: none;
}