.ldspinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.ldspinner div {
  transform-origin: 15px 15px;
  animation: ldspinner 1.2s linear infinite;
}
.ldspinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1.5px;
  left: 14px;
  width: 3px;
  height: 9px;
  border-radius: 20%;
  background: #002552;
}
.ldspinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.ldspinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.ldspinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.ldspinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.ldspinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.ldspinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.ldspinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.ldspinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.ldspinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.ldspinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.ldspinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.ldspinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes ldspinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}