.BackDrop{
    height: 100%;
    width: 100%;
    background-color: rgb(44, 44, 44);
    opacity: 0.75;
    position: absolute;
}
.ModalOverLay{
    transform:translateZ(0);
    position: absolute;
    display: flex;
    align-items: center;
    color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
