body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background-color: var(--Full-Background);
  height: 715px;
  width: 100vw;
}
.Dark-theme{
  --Background:#262e3a;
  --Full-Background:rgb(8 12 21);
  --Color:white;
  --SecondaryClr:white;
  --listHover:#262e3a;
}

.Default-theme{
  --Background:   rgb(40 59 93);
  --Full-Background:white;
  --Color:rgb(255, 255, 255);
  --SecondaryClr:rgb(40 59 93);
  --listHover: rgb(208, 208, 208);
}